@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('/fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
}
html {
	scroll-behavior: smooth;
}
